main {
    padding-top: 35%;
  }

  /* #country {
    background-color: #6b5fdb;
  } */

  #myButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #confirmed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    font-size: 20px;
  }
  
  #deaths {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    margin-bottom: -5%;
    font-size: 20px;
  }
  
  .box-1 {
    padding-top: 10%;
  }
  
  .reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .side {
    background-color: #ffffff;
    font-size: 1.3em;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0%;
    padding-bottom: 2%;
  }
  .side h2 {
    text-align: center;
  }
  
  .bold {
    font-weight: 600;
  }
  
  .box-1 * {
    line-height: 2;
  }
  
  .facts {
    height: 400px;
  }
  
  .facts h1 {
    font-size: 50px;
  
  }
  
  .video {
    height: 300px;
  
  }
  
  iframe {
    width: 100%;
    height: 100%;
    ;
  }
  
  footer .col-12 {
    display: flex;
    justify-content: center;
    
  }
  
  footer a {
    text-decoration: none;
  }
  
  /*Media Queries*/
  
  @media only screen and (min-width: 375px) {
    .row p {
      text-align: center;
    }
    footer .col {
      display: flex;
      justify-content: center;
    }
    .addMargin {
      margin-bottom: 7%;
    }
    main .col-12 h2 {
      line-height: 1.5;
    }
    h2 {
      padding-top: 10px;
    }
    #myButton { 
      padding-top: 11px;
      padding-bottom: -30px;
    }
  }
  
  
  
  @media only screen and (min-width: 768px) {
    main {
      padding-top: 20%;
    }
    .box-1 * {
      line-height: 1.5;
    }
    .box-1 img {
      height: 100%;
    }
    .video {
      height: 350px;
  
    }
    .facts {
      margin-top: 10%;
    }
    .box-1 p {
      text-align: start;
    }
    footer .col-12 {
      justify-content: end;
    }
    main .col-12 h2 {
      line-height: 1.2;
    }
    #myButton {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    main {
      padding-top: 10%;
    }
     .graph {
      display: flex;
      justify-content: center;
    }
    #myButton {
      padding-top: 43px;
      /* margin-bottom: -1000px; */
    }
  }
  
  @media only screen and (min-width: 1400px) {
    main {
      padding-top: 10%;
    }
    main .col-12 h2 {
      line-height: 1.5;
    }
  }
  
  @media only screen and (min-width: 1800px) {
    main {
      padding-top: 5.3%;
    }
    .video {
      height: 600px;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
    .box-1 {
      padding-top: 5%;
    }
    .facts {
      margin-top: 5%;
    }
    #myButton {
      padding-top: 43px;
      padding-bottom: 10px;
      /* margin-bottom: -1000px; */
    }
  }
  
  
  
  
  